<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCategoryController</servlet-name>
        <servlet-class>controller.FilterCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>controller.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MannagerOrderController</servlet-name>
        <servlet-class>controller.MannagerOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgetPasswordController</servlet-name>
        <servlet-class>controller.forgetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderDetailController</servlet-name>
        <servlet-class>controller.ManagerOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sort</servlet-name>
        <servlet-class>controller.Sort</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemsByQuantityController</servlet-name>
        <servlet-class>controller.DeleteItemsByQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrders</servlet-name>
        <servlet-class>controller.UpdateOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadOrderController</servlet-name>
        <servlet-class>controller.LoadOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderController</servlet-name>
        <servlet-class>controller.DeleteOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderByStatus</servlet-name>
        <servlet-class>controller.ViewOrderByStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCategoryController</servlet-name>
        <url-pattern>/filter-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MannagerOrderController</servlet-name>
        <url-pattern>/managerOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgetPasswordController</servlet-name>
        <url-pattern>/forgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderDetailController</servlet-name>
        <url-pattern>/orderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sort</servlet-name>
        <url-pattern>/sort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemsByQuantityController</servlet-name>
        <url-pattern>/deleteitems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrders</servlet-name>
        <url-pattern>/updateOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadOrderController</servlet-name>
        <url-pattern>/loadOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderController</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderByStatus</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
